* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    min-width: 100vw;
}

html {
    font-size: 16px;
    font-family: 'Roboto';
}

body {
    background-color: #343A40;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-width: 800px;
}

.warning,
.success {
    color: white;
    font-size: 1.5em;
    line-height: 1.7em;
    color: #eee;
    text-align: center;
    background-color: #424a52;
    border-radius: 1rem;
    display: none;
}

.warning {
    box-shadow: 0 0 2em rgba(0, 0, 0, .1);
    padding: 1rem;
}

.success {
    padding: 2rem;
}

.success button {
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Roboto';
    background-color: #A3F7BF;
    border: none;
    outline: none;
}

.success h3 {
    margin-bottom: 1rem;
}

.success button:focus {
    outline: none;
}

.success button:hover {
    cursor: pointer;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.row.jc-center {
    justify-content: center;
}

.row {
    flex-grow: 2;
    margin-top: 0.5rem;
}

.key {
    height: 3rem;
    min-width: 3rem;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s;
}

.key.highlight-key {
    background-color: transparent;
    color: #fff;
    box-shadow: inset 0 0 0 2px currentColor;
}

.row > * {
    margin-right: 0.5rem;
}

.key.s125,
.key.s150,
.key.s200 {
    flex-grow: 1;
}

.key.s125 {
    min-width: calc(3rem * 1.25)
}

.key.s150 {
    min-width: 4.5rem
}

.key.s200 {
    min-width: 6rem;
}

.key.space {
    width: 20rem;
}

.key.disabled {
    background-color: #ccc;
}

.key.little {
    background-color: #F35588;
}

.key.little.highlight-key {
    background-color: transparent;
    color: #F35588;
    /*border: 2px solid #F35588;*/
} 

.key.ring {
    background-color: #05DFD7;
}

.key.ring.highlight-key {
    background-color: transparent;
    color: #05DFD7;
    /*border: 2px solid #05DFD7;*/
}

.key.middle {
    background-color: #A3F7BF;
}

.key.middle.highlight-key {
    background-color: transparent;
    color: #A3F7BF;
    /*border: 2px solid #A3F7BF;*/
}

.key.forefinger {
    background-color: #FFF591;
}

.key.forefinger.highlight-key {
    background-color: transparent;
    color: #FFF591;
    /*border: 2px solid #FFF591;*/
}

.text-container {
    height: 9rem;
    overflow: hidden;
    margin-bottom: 5rem;
    position: relative;
}

.text-container::after {
    content: '';
    width: 100%;
    height: 3rem ;
    position: absolute;
    top: 6rem;
    background-image: linear-gradient(transparent 0%, #343A40 100%);
    /* rgba(52, 58, 62) */
}

.text {
    color: white;
    font-size: 1.5rem;
    line-height: 1.7em;
    color: #eee;
    position: relative;
}

.highlight-text {
    background-color: green;
}

.typed {
    color: darkgray;
}

@media screen and (max-width: 800px) {
    .keyboard,
    .text-container {
        display: none;
    }

    .warning {
        display: block;
    }
}